body {
	background-color: #fff;
	font:15px/25px "Open Sans", sans-serif;
}

@font-face{
    font-family:'Huge';
    src:url("../fonts/huge_agb_v5-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/huge_agb_v5-webfont.woff") format("woff"),
    url("../fonts/huge_agb_v5-webfont.ttf") format("truetype"),
    url("../fonts/huge_agb_v5-webfont.svg#svgFontName") format("svg")
}



/* navigation */
.navbar-default  {
	background-color: #1f2a3c;
	border-color:#fff;
	padding: 20px 0 0;
}
.nav>li>a:focus, .nav>li>a:hover {
	background-color: none;
}
.navbar-brand {
	height:auto; padding: 0;
}
.navbar-brand>img {
	margin-top: -10px;
}
.navbar-default .navbar-nav>li>a {
	color:#fff; text-transform: uppercase; padding: 10px 25px;
}
.navbar-default .navbar-nav>li>a:hover {
	text-decoration: underline; color: #fff;
}
.navbar.navbar-default .navbar-collapse li a {
	font: 14px/40px "Open Sans", sans-serif;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    background: transparent;
}



/* post area */
.post-area {
	padding-top: 100px;
}
.blog-post {
	padding: 0 0 50px; border-bottom:1px solid rgba(0,0,0,.0785)!important;
}
.blog-post p {
	margin: 0;
	padding: 0 0 20px;
    text-align: justify;
}
h2.blog-post-title > a {
	font-family: "Huge",sans-serif !important;
	font-size: 25px;
	line-height: 40px;
	font-weight: bold;
	color: #000;
	/*font:bold 25px/40px "Huge", sans-serif !important; */
}
h2.blog-post-title a:hover {
	color:#000;
}
p.blog-post-meta {
	color:#1C9963;
}
p.blog-post-meta time {
	color:lightgray; display: block;
}

/* sidebar post */
.blog-sidebar {
	padding-left: 30px;
}
ol.list-unstyled {
	margin: 0; padding:0;
}
ol.list-unstyled li {
	padding-bottom: 20px;
}


/* pagination  */
.blog-pagination {
	padding: 0 0 50px;
}
.blog-pagination a {
	margin-right: 30px;
}
.blog-pagination a.btn {
	border-radius: 2px; border:1px solid lightgray; padding: 10px 30px;
    font-size: 16px; color: #000;
}

/* footer area */
.row.footer-area {
	width: 100%; margin: 0;
}
.footer-top {
	background: #2a2a2a;
    padding: 50px 0px 20px;
}
.footer-top .footer_sidebar {
	font: 400 15px/28px "Open Sans", sans-serif;
    color: rgba(255, 255, 255, 0.5);
}
.footer-top .footer_sidebar a:hover { color:#fff; }
ul.nav {
	padding-left: 0;
	list-style: none;
	margin: 0;
}
.nav>li {
	position: relative; display: inline-block;
}
.footer-top .footer_sidebar .social_icon {
	padding-top: 25px;
}
.footer-top .footer_sidebar .social_icon li:first-child a{
	padding-left: 0px;
}
.footer-top .footer_sidebar .social_icon li a {
	font-size: 14px;
    color: #fff;
    padding: 0px 0px 0px 18px;
    opacity: 0.50;
}
.footer_bottom {
	background: #242424;
    font: 400 15px/20px "Open Sans", sans-serif;
    color: rgba(255, 255, 255, 0.3);
    padding: 30px 0px; margin: 0;
}
.footer_bottom ul.footer-menu {
	    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    text-align: right;
}
.footer_bottom .footer-menu li {
	display: inline-block;
}
.footer_bottom .footer-menu li + li {
	padding-left: 38px;
}
.footer_bottom a {
	color: #fff;
    opacity: 0.3;
}
.footer_bottom a:hover { color:#fff; }